extends layout
block content
     div.container
        h2 News
        h3 Here are newest mobile devices
        div.row
            -i = 0
            each  ph_inf, ph_id in phones
                div.col-sm-4
                        img(src=ph_inf.pic).img-responsive
                div.col-sm-8
                    h3.title
                        =ph_inf.name
                    p.text-muted
                        =ph_inf.year
                    p
                        =ph_inf.review
                            -i = i +1
                            -if(i===2) break







