extends ../shared/layout
block main-content
   .container
      h3 #{user.username}
      p First name: #{user.firstName}
      p Last name: #{user.lastName}
      p Number rated playlists: #{user.numRatedPlaylists}
